[run]
source = addok
omit =
    addok/__init__.py
    addok/shell.py
    addok/pytest.py
    addok/config/local*
    addok/bin/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    def __repr__
