__pycache__
*.pyc
*.csv
*.sjson
notes.md
.cli_history
addok/config/local*.py
addok.egg-info/
debian/addok
debian/addok.postinst.debhelper
debian/addok.postrm.debhelper
debian/addok.prerm.debhelper
debian/addok.substvars
debian/addok.debhelper.log
debian/files
site/
*.log*
build/
dist/
.coverage
.cache
scripts/*
htmlcov/*
prof/
local*.py
*.rdb
*.db
*.tar.bz2
.pytest_cache/
coverage.lcov
