__pycache__
*.pyc
*.csv
*.sjson
notes.md
.cli_history
notfound.log
addok/config/local.py
addok.egg-info/
debian/addok
debian/addok.postinst.debhelper
debian/addok.postrm.debhelper
debian/addok.prerm.debhelper
debian/addok.substvars
debian/addok.debhelper.log
debian/files
site/
notfound.log*
queries.log*
build/
dist/
.coverage
